.txt-meme {
    /* display: block; */
    grid-area: txt;
    color: var(--clr1);
    height: 3em;
    margin: auto;
    background-color: var(--clr5);
    border-radius: 20px;
    margin-bottom: 25px;
}

.pen {
    grid-area: pen;
    height: 70px;
    width: 70px;
}

.switch {
    grid-area: switch;
    height: 70px;
    width: 70px;
}

.delete {
    grid-area: delete;
}

[name="random-color"] {
    grid-area: random;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.icon {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 0px;
}

.imj {
    background: linear-gradient(to right, var(--clr2), var(--clr3));
    border-radius: 10px;
}

.imj1 {
    grid-area: imj1;
}

.imj2 {
    grid-area: imj2;
}

.imj3 {
    grid-area: imj3;
}

.imj4 {
    grid-area: imj4;
}

.icon.save {
    height: 60px;
    width: 60px;
    grid-area: save;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 45px;
    padding: 0;
    width: 45px;
    grid-area: color-user;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 50%;
    outline: 3px solid var(--clr2);
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: 0;
}

::-moz-focus-inner {
    padding: 0;
}

input[type="range"] {
    width: 70px;
    transform: scaley(1.5);
    grid-area: range;
}

[name="minus-font-size"] {
    height: 50px;
    width: 50px;
}

.share {
    grid-area: share;
    /* margin: 15px 0; */
    width: 120px;
}

.download {
    width: 120px;
    grid-area: download;
    /* margin: 15px 0; */

}

select {
    grid-area: select;
    width: 8em;
}