

/* CANVAS */

canvas {
    display: block;
    margin: 0 auto;
    border-radius: 35px;
}

.canvas-container {
    padding: 12px;
    margin: 10px;
    border-radius: 35px;
    background-color: var(--clr4);
}

/* EDITOR */

.grid-conteiner-editor {
    display: grid;
    display: inline-grid;
    justify-items: center;
    background-color: var(--clr4);
    margin: 57px;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-areas:
        "txt txt txt txt "
        "random pen switch delete"
        "ltr plus minus rtl"
        "share range select download"
        "color-user color-user save save";

    background-color: var(--clr4);
    border-radius: 35px;
    gap: 5px;
    width: 45%;
    padding: 1em;
    align-items: baseline;
}



