* {
    box-sizing: border-box;
    transition: .5s;
}


body {
    font-family: Quicksand-Regular;
    text-align: center;
    margin-top: 0px;
    background-color: darkgray;
}

.body-conteiner {
    margin: 0 auto;
    background-color: var(--clr1);
}



